    * {
        margin: 0;
        padding: 0;
        outline: none;
    }
    
    body {
        font-family: 'Lato';
        margin: 0;
        padding: 0;
        background: #FFF5EB;
    }
    
    nav {
        width: 100%;
        background: #204051;
        position: fixed;
    }
    
    .menu_links {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 100%;
        height: auto;
    }
    
    li a {
        display: block;
        color: #FFF5EB;
        text-align: center;
        padding: 15px;
        text-decoration: none;
    }
    
    h2 {
        text-align: center;
    }
    
    #color-white {
        color: #FFF5EB;
    }
    
    .presentation-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10%;
        box-shadow: 0 1px 16px rgb(0 0 0 / 40%);
        /* effet parallax */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/img/developpeur-web.jpg');
    }
    
    .presentation-card {
        text-align: center;
        max-width: 100%;
        width: 300px;
        margin: 5px;
        padding: 10px;
        color: #FFF5EB;
        border-radius: 5%;
    }
    
    .presentation-img {
        width: 100%;
        max-width: 240px;
        height: auto;
        border-radius: 50%;
    }
    
    .competences-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 50px;
        box-shadow: 0 1px 16px rgb(0 0 0 / 40%);
    }
    
    .competences-listItem {
        width: 220px;
        text-align: center;
        display: flex;
        margin: auto;
        margin-top: 20px;
    }
    
    .competences-card {
        margin: 30px;
        text-align: center;
        padding: 50px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
        border-radius: 5%;
    }
    
    .presentation-list {
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        justify-content: center;
    }
    
    .competences-list,
    .mesprojets-list,
    .contact-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    
    .competences-Items {
        display: inline-block;
        background: #db382d;
        color: cornsilk;
        list-style-type: none;
        padding: 10px;
        margin: 5px;
        border-radius: 18px;
    }
    
    .mesprojets-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: #db382d;
        padding: 40px;
        box-shadow: 0 1px 16px rgb(0, 0, 0);
    }
    
    .mesprojets-card {
        text-align: center;
        width: 300px;
        margin: 5px;
        padding: 10px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
        border-radius: 5%;
    }
    
    .mesprojets-img {
        width: 200px;
        margin: 25px;
    }
    
    .button {
        text-decoration: none;
        color: cornsilk;
    }
    
    .btn {
        background-color: #009ba0;
        border: none;
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
    }
    
    .btn:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    
    .contact-card {
        width: 50%;
        justify-content: center;
        padding: 40px;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    
    .contact-content {
        padding: 50px;
    }
    
    .user_name,
    .user_mail,
    .user_text {
        border: none;
        border-bottom: 2px solid rgba(15, 15, 15, 0.2);
        resize: vertical;
        margin-bottom: 40px;
        width: 100%;
        height: 50px;
        background-color: #FFF5EB;
    }
    
    .btn-envoyer {
        background-color: #30A9DE;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        padding: 13px;
        border: none;
        text-decoration: none;
        width: 100%;
    }
    
    .btn-envoyer:hover {
        background-color: #2992be;
    }
    
    .btn-envoyer:active {
        position: relative;
        top: 1px;
    }
    
    .g-Map {
        margin-top: 20px;
        width: 100%;
        height: 300px;
    }
    
    footer {
        height: 50px;
        background: #204051;
        color: #FFF5EB;
        margin-top: 50px;
    }
    
    .copyright {
        text-align: center;
    }